<footer class="footer" id="footer">
    <div class="footer-container">
        <div class="ft-aboutus">
            <div class="text-footer--title">BẢN THÂN</div>
            <div>
                Giới thiệu qua
            </div>
            <div class="text-intro">Tạ Quang Huy</div>
            <div class="text-intro">0336951408</div>
            <div class="text-intro">Đang là sinh viên năm cuối</div>
        </div>
        <div class="ft-categories">
            <div class="text-footer--title">THỂ LOẠI</div>
            <ul>
                <li class="text-intro">1</li>
                <li class="text-intro">1</li>
                <li class="text-intro">1</li>
                <li class="text-intro">1</li>
            </ul>
        </div>
        <div class="ft-information">
            <div class="text-footer--title">THÔNG TIN</div>
            <ul>
                <li class="text-intro">1</li>
                <li class="text-intro">1</li>
                <li class="text-intro">1</li>
                <li class="text-intro">1</li>
            </ul>
        </div>
        <div class="ft-service">
            <div class="text-footer--title">DỊCH VỤ</div>
            <ul>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
            </ul>
        </div>
    </div>
</footer>
